@keyframes showToastAnimation {
  0% {
    transform: translateY(75px);
  } 15% {
    transform: translateY(0);
  } 90% {
    transform: translateY(0);
  } 100% {
    transform: translateY(250px);
  }
}

.showToast {
  animation: showToastAnimation 3s ease-in-out;
}

.parent {
  transition: max-height 0.3s ease; 
  // overflow: hidden;
}