.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: var(--black-ultralight);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(black-light);
}

.example-menu-item {
  background-color: transparent;
  border: none;
  color: var(--white-primary);
  user-select: none;
  line-height: 36px;
  padding: 4px 12px;

  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  transition: background-color .15s cubic-bezier(.4,0,.2,1);
}

.example-menu-item:hover {
  cursor: pointer;
  background-color: var(--black-light);
}

.example-menu-item:disabled:hover {
  background-color: none;
  cursor: default;
}

.example-menu-item:disabled {
  background-color: transparent;
  color: lightgrey;
}

.example-standalone-item {
  background-color: rgb(239, 239, 239);
}