<button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger" [class]="triggerStyle">
  @if (button.icon !== undefined) { <div [innerHTML]="button.icon"></div> }
   {{ button.title }}
</button>

<ng-template #menu>
  <div class="example-menu" cdkMenu>
    @if (dropdownData.header) {
      <div class="m-2 text-black-secondary font-bold">
        <p class="">{{ dropdownData.header }}</p>
      </div>
      <hr class="mb-2">
    }
    @for (row of rows; let index = $index; track index) {
    <button 
      class="example-menu-item hover:bg-gray-200"
      [class]="dropdownStyle"
      (click)="onClickRow(row.fnc)" 
      [disabled]="row.disabled"
      cdkMenuItem>
        @if (row.icon !== undefined) { <div class="mr-1" [innerHTML]="row.icon"></div> } {{ row.title }}
    </button>
    }
  </div>
</ng-template>
