/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

@font-face {
  font-family: 'Geist-regular';
  src: url('./assets/fonts/Geist-Regular.otf') format('otf'),
       url('./assets/fonts/Geist-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'Geist-medium';
  src: url('./assets/fonts/Geist-Medium.otf') format('otf'),
       url('./assets/fonts/Geist-Medium.woff2') format('woff2'),
}

:root {
  --black-primary: #18181B;
  --black-light: #27272A;
  --black-dark: #09090B;

  --white-primary: #fafafa,;
  --white-secondary: #f4f4f5;

  --orange-primary: #F87900;
  --orange-light: #FF9333;
  --orange-dark: #E86600;
}

body {
  font-family: 'Geist-regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--black-primary);
  color: var(--white-primary);
}